@inject HttpClient HttpClient
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs

<h6>측정시점</h6>

<form method="post" @onsubmit="SaveBloodPressureAsync">
    <div class="row">
        <div class="col-8">
            <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnmorning" autocomplete="off" checked @onclick="() => _day=1">
                <label class="btn btn-outline-secondary" for="btnmorning"> 아침 </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnlunch" autocomplete="off" @onclick="() => _day=2">
                <label class="btn btn-outline-secondary" for="btnlunch"> 점심 </label>

                <input type="radio" class="btn-check" name="btnradio" id="btndinner" autocomplete="off" @onclick="() => _day=3">
                <label class="btn btn-outline-secondary" for="btndinner"> 저녁 </label>
            </div>
        </div>
        <div class="col-4">
            <SfDatePicker TValue="DateTime" FullScreen="true" Format="yyyy.MM.dd dddd" ShowClearButton="true" @bind-Value="@_inputDate"></SfDatePicker>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-4"><Icon Name="IconName.ChevronDoubleUp" Size="IconSize.x2" Color="IconColor.Danger" /> 수축기 </h5>
                        <div class="col-2"></div>
                        <div class="mb-3 col-4">
                            <SfNumericTextBox TValue="int?" Placeholder="110" ShowSpinButton="false" @bind-Value ="@_systolic"></SfNumericTextBox>
                        </div>
                        <h6 class="col-2">mmHg</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-4"><Icon Name="IconName.HeartPulseFill" Size="IconSize.x2" Color="IconColor.Danger" /> 맥박수 </h5>
                        <div class="col-2"></div>
                        <div class="mb-3 col-4">
                            <SfNumericTextBox TValue="int?" Placeholder="선택입력" ShowSpinButton="false" @bind-Value="@_pulse"></SfNumericTextBox>
                        </div>
                        <h6 class="col-2">BPM</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-4"><Icon Name="IconName.ChevronDoubleDown" Size="IconSize.x2" Color="IconColor.Primary" /> 이완기 </h5>
                        <div class="col-2"></div>
                        <div class="mb-3 col-4">
                            <SfNumericTextBox TValue="int?" Placeholder="80" ShowSpinButton="false" @bind-Value="@_diastolic"></SfNumericTextBox>
                        </div>
                        <h6 class="col-2">mmHg</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <button type="submit" class="btn btn-danger">저장하기</button>
        </div>
    </div>
</form>


@code {
    private DateTime _inputDate = DateTime.Now;
    private int _day = 1;
    private int? _systolic;
    private int? _diastolic;
    private int? _pulse;

    private async void SaveBloodPressureAsync()
    {
        if (_pulse == null)
        {
            _pulse = 0;
        }

        var addQuery = new BloodPressureData() { InputDateTime = _inputDate, BloodPressureDayDivision = (byte)_day, Systolic = _systolic, Diastolic = _diastolic, PulseRate = (byte)_pulse };

        var result = await HttpClient.PostAsJsonAsync("/MyHealth/blood-pressure", addQuery);

        if (result.IsSuccessStatusCode)
        {
            _inputDate = DateTime.Now;
            _systolic = null;
            _diastolic = null;
            _pulse = null;

            StateHasChanged();
        }
    }
}
