@page "/secession/{UserName}"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Popups

<h3>탈퇴하기</h3>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>@UserName 의 건강을 응원합니다.</h3>
        <br/>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title col-8">탈퇴 전 꼭 확인해주세요!</h5>
                </div>
                <p class="card-text">
                    회원님의 <b style="color: red">건강차트를 포함한 모든 정보</b>는 삭제됩니다.
                    <br />
                    <br />
                    삭제된 데이터는 <b style="color: red">복구되지 않습니다.</b>
                    <br />
                    <br />
                    관련 법에 따라 보관이 필요한 일부 데이터는 삭제되지 
                    <br/>
                    않을 수 있으나 보관기간이 지나면 바로 삭제됩니다.
                </p>
            </div>
        </div>
        <br/>
        <form class="row g-3 was-validated" method="post" @onsubmit="@OpenDialog">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                모든 정보 삭제에 동의합니다.
                            </label>
                            <div class="invalid-feedback">
                                동의 후 탈퇴가 진행됩니다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-12">
                <button class="btn btn-danger" type="submit">탈퇴하기</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<SfDialog Target="#target" Width="500px" IsModal="true" @bind-Visible="Visibility">
    <DialogTemplates>
        <Header> 탈퇴를 진행합니다. </Header>
        <Content>
            <p>
                회원님의 모든 건강차트가 삭제됩니다.
            </p>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="뒤로가기" OnClick="@CloseDialog" />
        <DialogButton Content="탈퇴하기"  OnClick="@DeleteUserAsync" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter]
    public string UserName { get; set; }

    private bool Visibility { get; set; } = false;

    private void OpenDialog()
    {
        Visibility = true;
    }

    private void DeleteUserAsync()
    {
        Visibility = false;

        // 탈퇴 Abandon => Success  Delete app-push-token
        NavigationManager.NavigateTo("/");

        // var result = await HttpClient.DeleteAsync("/Account/secession");
        // if (result.IsSuccessStatusCode)
        // {
        //     NavigationManager.NavigateTo("/");
        // }
    }

    private void CloseDialog()
    {
        Visibility = false;
    }
}
